<div class="card p-3">
  <h1 class="card-title mb-4 mt-1">Password Reset Confirm</h1>
  <div *ngIf="!isConfirmed">
    <form class="form"
          name="form"
          *ngIf="!isLoggedIn"
          (ngSubmit)="f.form.valid && passwordResetConfirm()"
          #f="ngForm"
    >
      <div class="from-group mb-3">
        <label>New Password</label>
        <input class="form-control" type="password" name="password"
               [(ngModel)]="form.password"
               required
               minlength="6"
               #password="ngModel"
        >
        <div id="password_error" class="form-text alert alert-danger"
             role="alert"
             *ngIf="f.submitted && password.invalid"
        >
          <div *ngIf="password.errors?.required">Password is required</div>
          <div *ngIf="password.errors?.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label>Password Confirmation</label>
        <input name="password2" class="form-control" type="password"
               [(ngModel)]="form.password2"
               #password2="ngModel"
               required
               pattern="{{ password.value }}"
        >
        <div id="password2_error" class="form-text alert-danger" *ngIf="(f.submitted || password2.touched) && password2.invalid">
          <div *ngIf="password2.errors?.required">Enter your password again to confirm</div>
          <div *ngIf="password2.errors?.pattern">Password does not match</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mb-3"> Login</button>
    </form>
  </div>

  <div *ngIf="isConfirmed">
    <h2>Your Password is Reset</h2>
    <p>Click to <a class="link-styled float-right" href="account/login">Login</a></p>
  </div>
</div>




