<div class="card p-3">
  <h1 class="card-title mb-4 mt-1">Password Reset Request</h1>
  <div *ngIf="!isSent">
    <p>To have your password reset, enter your email address below.
      We will then send an email containing a link to reset your password.
    </p>
    <form class="form"
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && passwordReset()"
          #f="ngForm"
          novalidate
    >
      <div class="from-group mb-3">
        <label>Email</label>
        <input name="email" class="form-control" type="email"
               [(ngModel)]="form.email"
               required
               #email="ngModel"
        >
        <div id="email_error" class="form-text alert alert-danger"
             role="alert"
             *ngIf="f.submitted && email.invalid"
        >
          Email is required!
        </div>
      </div>

      <button type="submit" class="btn btn-primary mb-3">Send Email to Reset</button>
    </form>
  </div>

  <div *ngIf="isSent">
    <h2>Your password reset email is sent!</h2>
    Please check the email in <a class="link-styled">{{ this.form.email }}</a> and click the reset link in the email to reset your password.
  </div>
</div>



