<h1>Blogs</h1>
<ul class="list-unstyled">
  <li class="mb-3" *ngFor="let post of posts">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title mb-1" (click)="onPost(post.id)">{{ post.title }}</h2>
        <p class="card-text mt-0"><small class="text-muted">
          By <a href="#" class="link-primary link-styled">{{ post.author.username }}</a>
          on {{ post.published_at | date:'yyyy-MM-dd' }}</small>
        </p>
        <p class="card-text">{{ post.content_body | slice:0:100 }} {{ post.content_body.length > 100 ? '...':'' }}</p>
        <div class="d-flex flex-row-reverse ">
          <a class="btn btn-primary" [routerLink]="['/blog', post.id]">Read More</a>
        </div>
      </div>
    </div>
  </li>
</ul>
<hr>
Title <input type="text" [(ngModel)]="selectedPost.title"/><br>
Title <input type="text" [(ngModel)]="selectedPost.content_body"/><br>
Title <input type="text" [(ngModel)]="selectedPost.published_at"/><br>



